@model IEnumerable<CRUDWithIssuesCore.Models.Student>
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.StudentId)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                </td>
            </tr>
        }
    </tbody>
</table>


